* {
	padding: 0em;
	margin: 0em;
}

:root{
	--bgcolor: #0365AE;
	--txtcolor: #fff;
	--breadcolor: #163f77;
	--newscolor: #F3C42B;
	--newstxtcolor: #000;
	--contentxtcolor: #000;
	--contentbgcolor: #fff;
	--linkcolor: #fff;
	--visitedcolor: #F3C42B;

}

html, body{
	font-size: 100%;
	font-family: "Verdana", sans-serif;
	line-height: 1.5em;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	margin: auto;
}

html{
	background-image: url('../images/bg.webp');
	background-size: contain;
}

body{
	max-width: 1024px;
	border:  1px solid #000;
}

/*
==============
SEZIONE HEADER
==============
*/

header{
	text-align:  center;
	padding:  1.0em;
	padding-top: 0.7em;
	margin: 0.7em;
    background: url('./images/giannellipalleggio.jpg') right bottom no-repeat,
                url('./images/michielettocoppa.jpg') left top no-repeat;
    background-size: 20%, 20%;
}

header h1{
    background-image: url('./images/logo_fipav.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px; /* sposto il titolo fuori dalla visuale in modo che lo screen reader lo veda ma che graficamente non si veda (c'e' il logo al suo posto) */
    line-height: 1.5em;
    font-size: 6em;
}

header h2{
	font-size:  1.8em;
	padding: 0.5em;
	margin-top:  0.3em;
}

/*
==============
SEZIONE BREADCRUMB
==============
*/

#breadcrumb{
	background-color:var(--breadcolor);
	color: var(--txtcolor);
	font-size: 1.1em;
	padding: 0.5em 0em 0.5em 1.0em;
	border:  1px solid #000;
}

#breadcrumb a:link{
	color: var(--linkcolor);
}

#breadcrumb a:visited{
	color: var(--visitedcolor);
}

/*
==============
SEZIONE MENU
==============
*/

#menu{
	float: left;
	width:  25%;
	font-size:  1.3em;
	padding:  0.8em;
}

#menu a:link{
	color: var(--linkcolor);
}

#menu a:visited{
	color: var(--visitedcolor);
}

#menu ul{
	list-style-type: none;
    /*list-style-position: inside;*/ /* come avevo fatto io per l'icona del currentLink */
}

#menu ul li{
	margin-top: 0.5em;
}

#currentLink {
    /*list-style-image: url('./images/favicon.ico');*/ /* come avevo fatto io per l'icona del currentLink */
    /* Non va bene perche' non posso decidere la dimensione dell'icona */
    background-image: url('./images/favpng_volleyball-icon.png');
    background-position: left center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}


/*
==============
SEZIONE NEWS
==============
*/


aside{
	float:  right;
	width:  20%;
	border: 1px solid #000;
	padding: 0.5em;
	margin-top: 1.0em;
	margin-right: 2%;
	margin-left: 3%;
	overflow: hidden;
	background-color: var(--bgcolor);
	color:  var(--txtcolor);
}

aside h2 {
	font-size: 1.2em;
	background-color: var(--newscolor);
	color:  var(--newstxtcolor);
	padding: 0.2em;
}



aside dl dd {
	margin-left: 1.5em;
}

aside dt {
	margin-left: 0.8em;
	font-weight: bold;
}




/*
==============
SEZIONE CONTENUTO
==============
*/

main{
	margin-left:  28%;
	color: var(--contentxtcolor);
 	background-color: var(--contentbgcolor);
 	
}

 /*
==============
SEZIONE FOOTER
==============
*/

footer{
	background-color: var(--breadcolor);
	color: var(--txtcolor);
    text-align: center;
}

footer p{
    display: inline;
    font-style: italic;
    font-size: 0.8em;
}